<article>
  <h2><%= project.title %></h2>

  <div class="last-updated">
    Last updated <%= time_ago_in_words project.updated_at %> ago
  </div>

  <div class="accesses">
    <% project.users.each do |u| %>
      <div class="avatar">
        <span class="content"> <%= u.id %> </span>
      </div>
    <% end %>
  </div>

</article>
