<h1>Listing deals</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3">Distance</th>
    </tr>
  </thead>

  <tbody>
    <% @deals.each do |deal| %>
      <tr>
        <td><%= link_to deal.title, deal %> from <strong><%= deal.vendor.name %><strong></td>
        <td><%= calculate_distance(deal.vendor.latlon, current_user.latlon) %> miles</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deal', new_deal_path %>
