// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'grid';

body {
  padding: 30px;
  background-color: #84B154;
}

.logo {
  margin-top: -33px;
  width: 90%;
  z-index: -2;
  -webkit-transform: rotate(-30.5deg);
  margin-top: 58px;
  position: absolute;

  img {
    width: 30%;
  }
}

.slogan {
  color: white;
  font-size: 47px;
  z-index: -1;
  -webkit-transform: rotate(-30.5deg);
  margin-top: 58px;
  position: absolute;
}

h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 25px;
  margin-left: 1.0em;
  font-family: fantasy;

}

.deals {
  @extend .grid__col;
  @extend .grid__col--4-of-12;
  @extend .grid__col--centered;

  z-index: 1;

  font-size: 1.2em;

  .title {
    font-size: 1.4em;
    font-weight: bold;
  }
  .vendor {
    font-style: italic;
    margin-left: 0.1em;
  }
  .distance, .referral, .duration {
    margin-left: 0.1em;
    font-size: 0.8em;
  }
  .last-child {
    margin-bottom: 35px;
  }
  .duration {
    width: 53%;
  }
  .simple-timer {
    float: right;
  }
}

.referrer-info {
  @extend .grid__col;
  @extend .grid__col--12-of-12;

  text-align: right;

  span {
    background: #96BA5A;
    padding: 15px;
    display: inline-block;
  }
}
.referral {
  margin-bottom: 60px;
  font-size: 0.8em;

  input {
    padding: 8px;
    font-size: 1.1em;
    width: 75%;
  }
}
