// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'grid';

body {
  padding: 30px;
}

h2 {
  font-size: 2.0em;
  font-weight: normal;
  margin-bottom: 25px;
  margin-left: 2em;
}

.deals {
  @extend .grid__col;
  @extend .grid__col--4-of-12;
  @extend .grid__col--centered;

  font-size: 1.2em;

  .title {
    font-size: 1.4em;
    font-weight: bold;
  }
  .vendor {
    font-style: italic;
    margin-left: 0.1em;
  }
  .distance, .referral {
    margin-bottom: 35px;
    margin-left: 0.1em;
    font-size: 0.8em;
  }
}

.alert {
  @extend .grid__col;
  @extend .grid__col--5-of-12;
  @extend .grid__col--centered;

  text-align: center;
  font-size: 1.3em;
  padding: 20px;
  background: #5AAC7B;
}
