// Place all the styles related to the progress controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.progress {
  a {
    color: #1c5c76;
  }
  li {
    padding: 12px;
    font-weight: bold;
  }
  .content {
    font-weight: 300;
  }
}
